<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Lista de clientes </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'clientes/style.css' %}">
    </head>
    <body>
        <header>
            <div class="navbar">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}"> Cerrar sesión </a>
                {% else %}
                    <a href="{% url 'login' %}"> Iniciar sesión </a>
                {% endif %}
            </div>
        </header>
        <div class="container">
           <h1>Lista de clientes</h1>
           <form class = "search" method="get">
                <input type="text" name="q" placeholder="Buscar cliente..." >
                <button type="submit">Buscar</button>
           </form>
           <table class="clientes-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Fecha de nacimiento</th>
                        {% if user.is_authenticated %}
                        <th colspan="2">Opciones</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                        <tr>
                            <td>{{ cliente.nombre }}</td>
                            <td>{{ cliente.apellidos }}</td>
                            <td>{{ cliente.fecha_nac }}</td>
                            {% if user.is_authenticated %}
                            <td><a href="{% url 'update_cliente' cliente.pk  %}">Editar</a></td>
                            <td><a href="{% url 'delete_cliente' cliente.pk  %}">Eliminar</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
           </table>
           {% if user.is_authenticated %}
           <a class="btn" href="{% url 'create_cliente' %}">Agregar cliente</a>
           {% endif %}
           <a class="btn" href="{% url 'generar_pdf_cliente' %}?q={{ request.GET.q }}" target="_blank">Generar PDF</a>
        </div>
    </body>
</html>